@import './globals.scss';

main {
  max-width: 760px;
  margin: 0 auto;
}

/* Weeks-component */
.weeks {
  display: flex;
  flex-wrap: wrap;
}

hr {
  margin-top: 2rem;
}

.weeks li {
  background-color: #4CAF50;
  display: flex;
  margin: 5px;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
}

.weeks li a {
  color: white;
  padding: 10px;
}

.weeks li a:hover {
  color: #4CAF50;
  background-color: white;
  text-decoration: none;
}

/* WeekCards-component */
.week-cards-title {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

section {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid black;
}

.week-cards-button {
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.week-cards-button:hover {
  text-decoration: underline;
  color: #4CAF50;
  background-color: white;
  transition: 0.3s ease;
}

/* Tables */

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: rgb(185, 232, 181);
  transition: 0.3s ease;
}

.utilgjengelig {
  color: red;
}

.span-cursor {
  cursor: pointer;
}

.utilgjengelig-person {
  color: red;
  text-decoration: line-through;
}

.table-style {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.table-style th {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
}

.table-style tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-style tr td {
  padding: 15px;
}

.table-style tr td:hover {
  background-color: #ddd;
}

/* Navbar */
nav {
  background-color: #ddd;
  height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: right;
  padding: 0 20px;
  margin: 0 0 30px 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
}

.calenderCell {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.calenderCell:hover {
  background: #78c27b;
  color: #fff;
  transition: 0.3s ease;
}

.activeCalendarCell {
  background: #4CAF50;
  transition: 0.3s ease;
  color: #fff;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
  width: 50%;
}

form input {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input:focus {
  outline: none;
  border: 1px solid #4CAF50;
  box-shadow: 0 0 10px #719ECE;
}

form button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  color: #4CAF50;
  background-color: white;
  transition: 0.3s ease;
}